@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700,800,900|Bebas+Neue|Titillium+Web:900|Ubuntu+Mono:400,700,700i|Work+Sans:900&display=swap");

$transparent-black: rgba(0, 0, 0, 0.2);
$white-color: #fff;
$light-grey-color: #2d2f31;
$black-color: #000;
// $violet: #9625f2;
// $violet2: #bc46e0;

$main-color: #eb3349;
$intermediate-color: #ef4746;
$secondary-color: #f45b43;

$title-font: "Titillium Web", "Alegreya Sans SC";
$subtitle-font: "Bebas Neue";
$body-font: "Ubuntu Mono", "Raleway", Avenir, Helvetica, Arial, sans-serif;
