@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700,800,900|Bebas+Neue|Titillium+Web:900|Ubuntu+Mono:400,700,700i|Work+Sans:900&display=swap");

$transparent-black: rgba(0, 0, 0, 0.2);
$white-color: #fff;
$light-grey-color: #2d2f31;
$black-color: #252934;
$violet: #9625f2;
$violet2: #bc46e0;
$main-color: $violet;
$secondary-color: $violet2;

$title-font: "Titillium Web", "Alegreya Sans SC";
$subtitle-font: "Bebas Neue";
$body-font: "Ubuntu Mono", "Raleway", Avenir, Helvetica, Arial, sans-serif;

#app {
  background: $light-grey-color;
  font-size: 12pt;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $white-color;

  .title {
    font-family: $title-font;
    font-size: 3.5rem;
    text-transform: uppercase;
  }
  .subtitle {
    font-family: $subtitle-font;
  }
  .bold {
    font-weight: 700;
  }
  .section {
    padding: 100px 0 100px 0px !important;
  }
  #main {
    height: 100vh;
    background: rgba(0, 0, 0, 1);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(150, 37, 242, 1) 100%);
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, rgba(0, 0, 0, 1)),
      color-stop(100%, rgba(150, 37, 242, 1))
    );
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(150, 37, 242, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(150, 37, 242, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(150, 37, 242, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(150, 37, 242, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#9625f2', GradientType=0 );

    display: flex;
    canvas {
      position: absolute;
    }
    .title {
      font-size: 2.5rem;
      color: $white-color;
      font-family: $subtitle-font;
      .secondary-color {
      }
      .name {
        font-family: $title-font;
        text-transform: uppercase;
        font-size: 3.5rem;
      }
    }
  }
  #navbar {
    background: $transparent-black;
    border-bottom: 5px solid $main-color !important;
    a {
      color: $white-color;
      text-transform: uppercase;
    }
  }
  #about {
    #skills {
      margin: 50px 0;
      .skill {
        .shape-wrap {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;
          .shape {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 3px $secondary-color;

            svg {
              height: 3em;
              width: auto;
              color: $secondary-color;
            }
          }
        }
      }
    }
    .main {
      margin-top: 20px;
      #summary {
        .image {
          img {
            width: 50%;
            margin-bottom: 20px;
          }
        }
        .body {
          margin: 0 15px;
        }
      }
      #languages {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .language {
          display: flex;
          flex-wrap: wrap;
          .name {
            width: 90px;
            background: $main-color;
            color: $white-color;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .progress {
            width: calc(100% - 90px);
            height: 30px;
            border-radius: 0;
            font-size: 1rem;
            .progress-bar {
              background-color: $secondary-color;
            }
          }
        }
      }
    }
  }
  #portfolio {
    .title-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .filter {
        padding: 5px 10px;
        margin: 0 10px;
        cursor: pointer;
        transition: all 0.35s;
        &.active {
          background: $main-color;
          color: #fff;
        }
        &:hover {
          background: lightgray;
        }
      }
    }

    .projects {
      margin-bottom: 50px;
      margin-top: 25px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .project {
        transition: all 0.35s ease-in-out;
        width: 350px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        &:hover .content {
          opacity: 1;
        }
        .content {
          opacity: 0;
          flex: 1;
          background-color: $main-color;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.7s;

          .body {
            .title {
              color: $white-color;
            }
          }
        }
      }
    }

    .projects-enter {
      transform: scale(0.5) translatey(-80px);
      opacity: 0;
    }

    .projects-leave-to {
      transform: translatey(30px);
      opacity: 0;
    }

    .projects-leave-active {
      position: absolute;
      z-index: -1;
    }
  }
  #contact {
    color: $white-color;
  }
  #footer {
    background: rgba(0, 0, 0, 0.2);
    color: $white-color;
    .social {
      justify-content: center;
      display: flex;

      .shape {
        color: white;
        width: 50px;
        height: 50px;
        background: $black-color;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          color: $white-color;
          font-size: 1.75rem;
        }
      }
    }
    .copyright {
      margin-top: 25px;
    }
  }
}
